USER - USER CF - we can apply covarriance correlation function

In [1]:
import pandas as pd

# Load user data into a pandas DataFrame
user_data = pd.read_csv("user_user_with_toefl_score.csv")

# Apply one-hot encoding on 'univName' and 'major' columns
one_hot_univ = pd.get_dummies(user_data['univName'])
one_hot_major = pd.get_dummies(user_data['major'])

# Concatenate the original DataFrame with the one-hot encoded DataFrames
user_data_encoded = pd.concat([user_data, one_hot_univ, one_hot_major], axis=1)

# Define aggregation functions for grouping by 'userName'
agg_funcs = {col: 'max' for col in one_hot_univ.columns}  # Take max for one-hot encoded university columns
agg_funcs.update({col: 'max' for col in one_hot_major.columns})  # Update for one-hot encoded major columns
for col in user_data.columns:
    if col not in ['userName'] and col not in one_hot_univ.columns and col not in one_hot_major.columns:
        agg_funcs[col] = 'first'  # Take the first value for other non-encoded columns

# Group by 'userName' and apply aggregation functions
user_combined_data = user_data_encoded.groupby('userName').agg(agg_funcs).reset_index()

# Print the combined DataFrame
print(user_combined_data)

            userName  Arizona State University  \
0         ! Superman                         0
1            !mpulse                         1
2               $4R4                         1
3             $aumil                         0
4            (:)_(:)                         0
...              ...                       ...
13384       zulu.sud                         0
13385       zuperman                         0
13386    zzkaustavzz                         0
13387          zztop                         1
13388  ~rattlesnake~                         0

       California Institute of Technology  Carnegie Mellon University  \
0                                       1                           0
1                                       0                           0
2                                       0                           0
3                                       0                           1
4                                       0                           0
...                                   ...                         ...
13384                                   0                           0
13385                                   0                           0
13386                                   0                           0
13387                                   0                           0
13388                                   0                           0

       Clemson University  Columbia University  Cornell University  \
0                       0                    0                   1
1                       0                    0                   0
2                       0                    0                   0
3                       0                    1                   0
4                       0                    0                   0
...                   ...                  ...                 ...
13384                   0                    0                   0
13385                   1                    0                   0
13386                   0                    0                   0
13387                   0                    1                   0
13388                   0                    0                   0

       George Mason University  Georgia Institute of Technology  \
0                            0                                1
1                            0                                0
2                            0                                1
3                            0                                1
4                            0                                0
...                        ...                              ...
13384                        0                                0
13385                        1                                0
13386                        0                                0
13387                        0                                0
13388                        0                                0

       Harvard University  ...  toeflScore  toeflEssay  internExp     greV  \
0                       0  ...       118.0         NaN        2.0  165.000
1                       0  ...        95.0         NaN        0.0  140.000
2                       0  ...       109.0         NaN        3.0  145.000
3                       0  ...       109.0         NaN        0.0  129.625
4                       0  ...       103.0         NaN        0.0  150.000
...                   ...  ...         ...         ...        ...      ...
13384                   0  ...        94.0         NaN        0.0  116.875
13385                   0  ...       101.0         NaN        0.0  159.000
13386                   0  ...       103.0         NaN        4.0  150.000
13387                   0  ...       114.0         NaN        0.0  131.750
13388                   0  ...       109.0         NaN       12.0  151.000

          greQ  journalPubs  confPubs    cgpa  \
0      169.000            2         0  0.9100
1      166.000            0         0  0.8280
2      168.000            0         0  0.8970
3      159.375            0         0  0.8600
4      166.000            0         0  0.0764
...        ...          ...       ...     ...
13384  155.125            0         0  0.7430
13385  165.000            0         0  0.4930
13386  155.000            0         0     inf
13387  167.875            0         0  0.9160
13388  151.000            0         0  0.6420

                                                univName  admit
0      Virginia Polytechnic Institute and State Unive...      0
1                    University of Minnesota Twin Cities      1
2                      University of Southern California      1
3                      University of Southern California      1
4                                     University of Utah      1
...                                                  ...    ...
13384                         University of Texas Dallas      1
13385             University of North Carolina Charlotte      0
13386                     University of Illinois Chicago      0
13387                   University of Michigan Ann Arbor      1
13388                         University of Pennsylvania      0

[13389 rows x 112 columns]

In [2]:
print(user_combined_data.columns)

Index(['userName', 'Arizona State University',
       'California Institute of Technology', 'Carnegie Mellon University',
       'Clemson University', 'Columbia University', 'Cornell University',
       'George Mason University', 'Georgia Institute of Technology',
       'Harvard University',
       ...
       'toeflScore', 'toeflEssay', 'internExp', 'greV', 'greQ', 'journalPubs',
       'confPubs', 'cgpa', 'univName', 'admit'],
      dtype='object', length=112)

In [3]:
user_data_new = user_combined_data.drop(columns=['univName', 'admit', 'major'])
print(user_data_new[user_data_new['userName'] == "aditya57"])

      userName  Arizona State University  California Institute of Technology  \
2281  aditya57                         0                                   0

      Carnegie Mellon University  Clemson University  Columbia University  \
2281                           0                   0                    0

      Cornell University  George Mason University  \
2281                   0                        0

      Georgia Institute of Technology  Harvard University  ...  researchExp  \
2281                                0                   0  ...            0

      industryExp  toeflScore  toeflEssay  internExp   greV   greQ  \
2281           35       110.0        28.0        3.0  163.0  166.0

      journalPubs  confPubs   cgpa
2281            0         0  0.823

[1 rows x 109 columns]

In [4]:
import numpy as np
user_data_new.fillna(0, inplace=True)  # Replace NaN values with 0
user_data_new.replace([np.inf, -np.inf], 0, inplace=True)  # Replace infinite values with 0

In [5]:
print(user_data_new[user_data_new['userName'] == '143saf'].values.flatten())
print(user_data_new[user_data_new['userName'] == 'AB25'].values.flatten())

['143saf' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 18 112.0 26.0
 5.0 160.0 167.0 0 0 0.85]
['AB25' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 66 94.0 21.0
 0.0 146.0 157.0 0 0 0.7828]

In [10]:
user_data_new['userid'] = [i for i, _ in enumerate(user_data_new['userName'], start=1)]
print(user_data_new[user_data_new['userName'] == '143saf'].values.flatten())
print(user_data_new[user_data_new['userName'] == 'AB25'].values.flatten())

['143saf' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 18 112.0 26.0
 5.0 160.0 167.0 0 0 0.85 26]
['AB25' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 66 94.0 21.0
 0.0 146.0 157.0 0 0 0.7828 60]

In [11]:

# for user1 in user_data_new['userName']:
#     for user2 in user_data_new['userName']:
# #         print(data_user1.shape, data_user2.shape,  user1)
#         if user1 != user2:
# #             print(user1, user2, user_data_new[user_data_new['userName']== user1].shape,user_data_new[user_data_new['userName']== user2].shape )
# #             break
#             data_user1 = user_data_new.loc[user_data_new['userName'] == user1, user_data_new.columns != 'userName'].values.flatten()
#             data_user2 = user_data_new.loc[user_data_new['userName'] == user2, user_data_new.columns != 'userName'].values.flatten()
# #             print(data_user1, user1, data_user2)

#             correlation_coefficient, _ = pearsonr(data_user1, data_user2)
#             correlation_matrix.loc[user1, user2] = correlation_coefficient

# # Filter out NaN values (non-matching users) from the correlation matrix
# correlation_matrix = correlation_matrix.dropna()

user_data_without_name = user_data_new.drop('userName', axis=1)

# Calculate the correlation matrix using np.corrcoef()
correlation_matrix = np.corrcoef(user_data_without_name, rowvar=False)

# Display or further process the correlation matrix
print(correlation_matrix)

[[ 1.00000000e+00 -2.63882639e-02 -7.65335016e-02 ...  4.34292786e-02
   3.93741356e-03  3.92448634e-03]
 [-2.63882639e-02  1.00000000e+00 -4.15912394e-03 ...  5.44762246e-03
   4.02962477e-04 -4.42586470e-04]
 [-7.65335016e-02 -4.15912394e-03  1.00000000e+00 ...  6.06010026e-03
   8.36839497e-03 -5.04369540e-04]
 ...
 [ 4.34292786e-02  5.44762246e-03  6.06010026e-03 ...  1.00000000e+00
   9.54172715e-03  1.10650037e-02]
 [ 3.93741356e-03  4.02962477e-04  8.36839497e-03 ...  9.54172715e-03
   1.00000000e+00  8.51191053e-03]
 [ 3.92448634e-03 -4.42586470e-04 -5.04369540e-04 ...  1.10650037e-02
   8.51191053e-03  1.00000000e+00]]

In [14]:
# Perform user-user collaborative filtering for a target user
target_user_id = user_data_new.loc[user_data_new['userName'] == '143saf', 'userid'].iloc[0]
print("User ID for '143saf':", target_user_id)
similar_users = correlation_matrix[target_user_id]
print("Similar users for", target_user, ":", similar_users)

User ID for '143saf': 26
Similar users for 143saf : [ 1.14912691e-03  4.00494623e-02  1.12636793e-02 -1.15847357e-02
  1.63447780e-02  3.84285191e-02 -1.59087613e-02  2.62527289e-02
 -3.36987151e-03 -3.60099570e-03  1.36417260e-02 -1.73242915e-02
  1.63447780e-02  1.00293128e-02  5.26776262e-04  2.11627481e-02
  3.83245031e-02  7.63312030e-03  3.27635206e-02  2.84731964e-02
 -9.74422516e-03  4.26052391e-02  4.34708230e-02 -7.11289171e-03
  1.28076648e-02 -4.85665985e-03  1.00000000e+00  8.59971494e-02
  6.25543593e-02  6.49526773e-02  4.94947942e-02  3.83233220e-02
 -2.04474788e-03  6.66645558e-03  9.78725969e-03  2.66061022e-03
  2.39867549e-02  8.15969739e-03  2.87894439e-02  1.48818197e-02
  1.40985085e-02  4.13849945e-02 -1.73006092e-02  2.22865227e-02
  2.01112456e-02 -1.68276737e-02  2.31198915e-02 -8.05314906e-04
  1.57482471e-04  2.01719455e-02  9.15539696e-03  2.90383753e-02
 -9.97222748e-03 -9.09442665e-03 -7.31426759e-04 -4.70205137e-03
  2.39731510e-02  9.11099364e-03  3.12035835e-02  9.95926744e-03
 -2.35589949e-03 -6.00549499e-03 -1.94472376e-03  2.34930737e-03
 -4.70394364e-03 -7.65763569e-03 -1.00687991e-02 -2.86330479e-03
 -7.93781882e-04 -1.87377214e-02 -6.36524921e-03 -3.69139675e-02
 -1.77521546e-03  3.47101158e-02  1.90106888e-02  1.60579680e-02
  5.34152557e-02 -1.37497326e-03 -1.12261903e-03 -1.12261903e-03
  4.06682842e-02 -2.97150288e-03 -1.12261903e-03 -1.37497326e-03
 -2.24574138e-03 -4.56538911e-03 -7.93781882e-04 -7.93781882e-04
 -7.93781882e-04 -7.93781882e-04 -4.49551613e-03 -1.12261903e-03
 -7.93781882e-04 -7.93781882e-04 -3.64028564e-03 -2.24574138e-03
  2.24018722e-02 -1.12261903e-03  6.76189082e-03  2.32929495e-02
  1.96854190e-02  1.52456592e-02  1.79509514e-02  2.50690326e-02
  2.23966062e-02 -3.03610796e-03  1.06750431e-02  3.90066595e-03
 -1.33497216e-02]

In [ ]:
rmse = np.sqrt(np.mean((prediction_mat - test_mat) ** 2))
print('\n', 'RMSE for base line estimate:', rmse)